<!doctype html>

<html>
<head>
	<title>Cooking Master</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/styles.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    <div class="container" id="container">
        <div class='item'>
          <div id="home">
              <a href="/index">
                <input id="transparent" width="80" height="70" type="image" src="/images/home_logo.png" alt="Home">
              </a>
          </div>
        </div>
        <div class='item push'>
            <div id="account">
                <a href="/account">
                    <input type="image" src="/images/account.png" alt="Account" id="accountpic">
                </a>
            </div>
        </div>
    </div>
    
	<br>
	<br>
	<div class = "d-flex justify-content-center align-items-center center">
			<div class = "d-flex justify-content-center align-items-center center">        
        		<img width="125" height="100" src="/images/chocolatecake.png" alt="Recipe Image" >
			</div>

			<h1 class="title" >{{recipeName}}</h1>
			<a href="{{url}}" class="input" target="_blank">Recipe Source</a>
			<p id="serving" class="input">Desired Serving Size: {{serving}}</p>
			<p id="ing" class="hide">{{ingredients}}</p>
			<p id="instr" class="hide">{{instructions}}</p>

			<label class="input bold" href="newrecipe">INGREDIENTS:</label>
			<p class="input">*Recipe rounded to nearest cooking fraction*</p>
			<ul class="input ingredients">
			</ul>
			<label class="input bold" href="newrecipe">INSTRUCTIONS:</label><br>
			<ol class="input instructions">
			</ol>
		
			<div class = "d-flex justify-content-center align-items-center center" >  
				<form action="/newRecipe" method="get">
					<input name="new" id="new" class = "hide" value="0">
					<input name="dish" id="dish" class = "hide" value="{{dish}}">
					<input name="serving" id="serving" class = "hide" value="{{serving}}">
					<input name="optional" id="optional" class = "hide" value="{{optional}}">
					<button class="button" value="NewRecipe">Edit Recipe</button>
				</form>
			</div>
    
  	</div>
	
	<div id="question">
        <a href="/help">
            <input width="75px" height="75px" type="image" src="/images/question.png" alt="Question">
        </a>
    </div>
	  <br>
	  <br>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/format.js"></script>
</body>
</html>