<!doctype html>

<html>
<head>
	<title>Cooking Master</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/styles.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	<div id="account">
        <a href="/account">
            <input type="image" src="/images/account.png" alt="Account" id="accountpic">
        </a>
  	</div>
	<div class = "d-flex justify-content-center align-items-center center">


			<h1 class="title" >{{recipeName}}</h1>
			<a href="{{url}}" target="_blank">Recipe Source</a>
			<p id="serving">Desired Serving Size: {{serving}}</p>
			<label class="input" href="newrecipe">INGREDIENTS:</label><br>
			<ul class="input">
				<li class="ingredients">{{ingredients}}</li>
			</ul>
			<label class="input" href="newrecipe">INSTRUCTIONS:</label><br>
			<ul class="input">
				<li class="instructions">{{instructions}}</li>
			</ul>
		
			<div class = "d-flex justify-content-center align-items-center center" >  
				<form action="/newRecipe" method="get">
					<input name="new" id="new" class = "hide" value="0">
					<input name="dish" id="dish" class = "hide" value="{{dish}}">
					<input name="serving" id="serving" class = "hide" value="{{serving}}">
					<input name="optional" id="optional" class = "hide" value="{{optional}}">
					<button class="button" value="NewRecipe">Edit Recipe</button>
				</form>
			</div>
    
  	</div>
	<div id="home">
		<a href="/index">
		  <input type="image" src="/images/home_logo.png" alt="Home">
		</a>
  </div>
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>